<h1>Student Score Table</h1>
<p *ngIf="!scores"><em>Loading...</em></p>
<table class='table' *ngIf="scores">
    <thead>
        <tr>
            <th>Score ID</th>
            <th>Game ID</th>
            <th>Student ID</th>
            <th>Teacher ID</th>
            <th>Attepmt Time</th>
            <th>Questions Answered</th>
            <th>Correctly Answered</th>
            <th>Difficulty</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let score of scores">
        
        </tr>
    </tbody>
</table>