<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    
    <meta charset="utf-8" />
    <title></title>
</head>-->
<body>
    <!---->
    
    <div class="jumbotron">
        <div class="container">
            <h2> What time is this? {{ hourguess }}:{{ minguess }} </h2>
            <canvas id="myCanvas" #myCanvas width="150" height="150"></canvas>
            <input type="text" text="Enter Answer">
        </div>
        <div>
            <input type="button" text="submit">
        </div>
        <div>
            <h2> Heres A hint:</h2>
            <h3> Current Time Is: {{ clock | async | date: 'shortTime }}  </h3>
        </div>
    </div>


</body>
</html>