<div class="jumbotron">
    <h2>Math Blaster Game</h2>
    <!-- Here we are declaring a local variable called “form” and setting it to an instance of ngForm. This is very important. Now our local form variable becomes of type FormGroup allowing us access to the FormGroup API’s on this local variable. We use this in the ngSubmit event where we send the value of the form via form.value -->
   <div class="row" id="gameRow"> 
       
        <div  id="spaceship"  *ngFor="let item of items">
           <img id="alien "src={{alien}}>
        </div>
       
   </div > 
    <form #form="ngForm" (ngSubmit)="submitForm(form.value)">
        <div class="form-group">
            <label>Your Guess:</label>
            <!-- Since we are working with template driven forms, we can use the ngModel directive to capture the values of our forms. One thing to note if you are coming from Angular 1.x. Using ngModel as shown below creates a one-way data binding, so once we hit submit the data is only sent to the controller. If we wanted to use two-way data binding, we would have to wrap the ngModel in [()] and assign an attribute to it. Also the name of the field corresponds to the name attribute so our first input will be firstName. -->
            <input type="text" class="form-control" placeholder="Guess Here" name="Guess" ngModel required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>