<h1>Student Score Table</h1>
<p *ngIf="!scores"><em>Loading...</em></p>
<table class='table' *ngIf="scores">
    <thead>
        <tr>
            <th>ID</th>
            <th>Game ID</th>
            <th>Student ID</th>
            <th>Questions Answered</th>
            <th>Correctly Answered</th>
            <th>Time</th>
            <th>Teacher ID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let score of scores">
            <td>{{ score.id }}</td>
            <td>{{ score.gameID }}</td>
            <td>{{ score.studentID }}</td>
            <td>{{ score.numberQuestions }}</td>
            <td>{{ score.numberCorrect }}</td>
            <td>{{ score.time }}</td>
            <td>{{ score.teacherID }}</td>
        </tr>
    </tbody>
</table>