<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <form name="NewAccountForm" onsubmit="">
        <table>
            <tr>
                <td>Firstname</td>
                <td><input type="text" name="FirstName " /></td>
            <tr>
                <td>Lastname</td>
                <td><input type="text" name="FirstName " /></td>
            </tr>
            <tr>
                <td>Username</td>
                <td><input type="text" name="FirstName " /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" name="FirstName " /></td>
            </tr>
            <tr>
                <td>are you a teacher</td>
                <td><input type="checkbox" name="IsTeacher" /></td>
            </tr>
            <tr>
                <td>who is your teacher</td>
                <td>
                    <select>
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </td>
            </tr>

        </table>
    </form>


</body>
</html>