<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <h1>Change Password</h1>
        <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">
            <!-- we will place our fields here -->
            <div>
                <label>Password</label>
                <input type="password" name="oldPassword" [ngModel]="password.oldPassword"
                       required #password="ngModel">
                <small [hidden]="oldPassword.valid || (oldPassword.pristine && !f.submitted)">
                    Password is required
                </small>
            </div>
            <div>
                <label>New Password</label>
                <input type="password" name="newPassword" [ngModel]="password.newPassword"
                       required #newPassword="ngModel">
                <small [hidden]="newPassword.valid || (newPassword.pristine && !f.submitted)">
                    New password is required
                </small>
            </div>
            <div>
                <label>Retype password</label>
                <input type="password" name="confirmPassword" [ngModel]="password.confirmPassword"
                       required validateEqual="newPassword" #confirmPassword="ngModel">
                <small [hidden]="confirmPassword.valid ||  (confirmPassword.pristine && !f.submitted)">
                    New passwords mismatch
                </small>
            </div>
            <button type="submit" [disabled]="!myForm.valid">Submit</button>
        </form>
    </div>
</body>
</html>