<div class=" container" id="page_wrap">
    <div class="row" id="home_wrap">
        <div class="row" id="logo_wrap">
              <div class=" col-lg-4" id="logo1">

              </div> 
              <div class=" col-lg-4" id="logo2">

              </div>
              <div class=" col-lg-4" id="logo3">

              </div>

        </div>
        <div class="row" id="system_wrap">
            
            <div class="col-lg-1" id="mercury"></div>
            <div class="col-lg-1" id="venus"></div>
            <div class="col-lg-1" id="earth"></div>
            <div class="col-lg-1" id="mars"></div>
            <div class="col-lg-2" id="jupiter"></div>
            <div class="col-lg-2" id="saturn"></div>
            <div class="col-lg-1" id="uranus"></div>
            <div class="col-lg-1" id="neptune"></div>
        </div>
    </div>
</div>
