body {
}
div#page_wrap {
    background-image: url("http://i.imgur.com/SsUrSRA.png");
    
    width: 100%;
    height: 100%;
    background-size: cover;
}
div#home_wrap.row {
    height:90%;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px ;
    
}
div#logo_wrap {
    height:24%;
    background-color:none;
    margin:85px 0px 45px 0px ;
}
div#logo1 {
    height: 100%;
    background-color: none;
}
div#logo2 {   
    height: 100%;
    background-color: none;
    padding:0px 47px 0px 47px ;
}
div#logo3 {
    height: 100%;
    background-color: none;
}
div#system_wrap {
    height: 25%;
    margin: 15% 0px 0px 15%;
    background-color: none;
    
}
img#logo_img {
    width:100%;
    height:100%;
}

div#mercury {
    margin: 0px 4% 0px 0px;
    height: 100%;
    max-width:67px;
    padding:0px 0px 0px 0px;
}
img#mercury_img {
    width: 65px;
    height: 65px;
    margin: 0px 0px 0px 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
div#venus {
    margin: 0px 4% 0px 0px;
    height: 100%;
    max-width: 87px;
    padding: 0px 0px 0px 0px;
}
img#venus_img {
    width: 85px;
    height: 85px;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
}
div#earth {
    height: 100%;
    margin: 0px 4% 0px 0px;
    max-width: 122px;
    min-width:120px;
    padding: 0px 0px 0px 0px;
}
img#earth_img {
    width: 120px;
    height: 170px;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
}
div#mars {
    background-color: none;
    height: 100%;
    margin: 0px 0px 0px 0px;
    max-width: 77px;
    padding: 0px 0px 0px 0px;
}
img#mars_img {
    width: 75px;
    height: 75px;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
}
div#jupiter {
    background-color: none;
    height: 100%;
    margin: 0px 0px 0px 2.5%;
    padding: 0px 0px 0px 0px;
    max-width:152px;
}
img#jupiter_img {
    width: 150px;
    height: 149px;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
}
div#saturn {
    background-color: none;
    height: 100% ;
    padding:0px 0px 0px 2.5%;
    min-width:260px;
}
img#saturn_img {
    width: 270px;
    height: 105px;
    margin: 0px 0px 0px 0px;
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    cursor: pointer;
}
div#uranus {
    background-color: none;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin:0px 0px 0px 4%;
    max-width:87px;
}
img#uranus_img {
    width: 85px;
    height: 85px;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
}
div#neptune {
    background-color: none;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin:0px 0px 0px 4%;
    min-width:87px;
}
img#neptune_img {
    width: 85px;
    height: 85px;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
}
  


