<div class=" container" id="page_wrap">
    <div class="row" id="home_wrap">
        <div class="row" id="logo_wrap">
              <div class=" col-lg-4" id="logo1">

              </div> 
              <div class=" col-lg-4" id="logo2">
                  <img  src="http://i.imgur.com/wehmORA.png" id="logo_img" alt="Logo" >
              </div>
              <div class=" col-lg-4" id="logo3">

              </div>

        </div>
        <div class="flex-row" id="system_wrap">
            
            <div class="col-lg-1" id="mercury" [routerLinkActive]="['link-active']">
                <img src="http://i.imgur.com/fmnKsIJ.png" id="mercury_img" alt="murcury"  [routerLink]="['/mathblaster']">
            </div>
            <div class="col-lg-1" id="venus"  [routerLinkActive]="['link-active']">
                <img src="http://i.imgur.com/cm5ZcFi.png" id="venus_img" alt="venus"  [routerLink]="['/time']">
            </div>
            <div class="col-lg-1" id="earth"  [routerLinkActive]="['link-active']">
                <img src="http://i.imgur.com/D03gV5K.png " id="earth_img" alt="earth">
            </div>
            <div class="col-lg-1" id="mars"  [routerLinkActive]="['link-active']">
                <img src="http://i.imgur.com/PjwNk7K.png " id="mars_img" alt="mars">
            </div>
            <div class="col-lg-2" id="jupiter"  [routerLinkActive]="['link-active']">
                <img src="http://i.imgur.com/ErtUG9c.png" id="jupiter_img" alt="jupiter">
            </div>
            <div class="col-lg-2" id="saturn"  [routerLinkActive]="['link-active']">
                <img src="http://i.imgur.com/tDzCYWv.png" id="saturn_img" alt="saturn">
            </div>
            <div class="col-lg-1" id="uranus"  [routerLinkActive]="['link-active']">
                <img src="http://i.imgur.com/i3BOMxT.png" id="uranus_img" alt="uranus">
            </div>
            <div class="col-lg-1" id="neptune"  [routerLinkActive]="['link-active']">
               <img src="http://i.imgur.com/PLieBrN.png" id="neptune_img" alt="neptune">
            </div>
        </div>
    </div>
</div>
