<!DOCTYPE html>
<html ng-app>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <meta charset="utf-8" />
    <title>  
        
        
    </title>
</head>
<body>
    <div ng-controller="LoginCtrl">
        <form #loginform="ngForm" name="loginForm" ng-submit="login(credentials)" novalidate ng-controller="LoginController">
            <table>
                <tr>
                    <td>Username</td>
                    <td><input type="text" name="Username" id="username" ng-model="username" /></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="Password" id="password" ng-model="password" /></td>
                </tr>
                <tr>
                    <td><a href="../newaccount/newaccount.component.html">Register</a></td>
                    <td><input type="button" ng-click="submit();" name="Login" value="Login" /></td>
                </tr>
            </table>
            </form>
    </div>
</body>
</html>